*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/download\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-div{
    width: 326px;
    color: white;
    border: 1px solid rgb(63, 61, 61);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(4px);
box-shadow: inset 0px 0px 11px -2px rgb(0, 0, 0);

}
.inputs{
    display: flex;
    width: 94%;
    color: white;
    font-size: 17px;
margin: 7px 0px 7px 0px;
padding: 7px 7px 7px 15px;
border-radius: 6px;
border: none;
background-color: rgba(255, 255, 255, 0.284);
}
h3{
    text-align: center;
    margin: 5px 0px 15px 0px;
    font-size: 25px;
}
h3:hover{
    cursor: pointer;
}
#signUpbtn{
    width: 100%;
    margin-top: 20px;
    padding: 9px;
border-radius: 6px;
border: transparent;
color: white;
font-size: 15px;
background-color: rgb(28, 93, 186);
}
#signUpbtn:hover{
    cursor: pointer;
background-color: rgb(32, 105, 207);

}
.inputs:focus{
background-color: rgba(255, 255, 255, 0.46);

outline: none;

}
.login-content>p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}
.login-content>p>a{
    color: rgb(202, 202, 202);
}
p{
    margin-bottom: 5px;
    transform: translateY(-3px);
    text-align: center;
    display: none;
    color: #ff3535;
}

