*{
    margin: 0;
    padding: 0;
}
body{
    
   /*background-image: url(Images/download\ \(3\).png);*/
   background-color:rgb(13,17,23);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 22px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255)      ;
    background-color:rgb(19 29 44);
    border-bottom: 1px solid #808086a8;
    padding: 0px 97px 0px 61px;
    height: 79px;
    position: sticky;
    top: 0px;
}
.menu-icon {
    display: none;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: 100%;
}
.main-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 323px;
    color: white;
    border: 1px solid rgb(63, 61, 61);
    border-radius: 25px;
    padding: 29px 12px 24px 12px;
    display: flex;
     justify-self: center;
     justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(255 255 255 / 12%);
    backdrop-filter: blur(5px);
box-shadow: 2px 2px 8px 2px black;
transition: 2s ease;
position: relative;


}
.inputs{
    display: flex;
     justify-content: center;
    align-items: center;
    width: 91%;
    color: white;
    font-size: 17px;
margin: 7px 0px 7px 0px;
padding: 7px 7px 7px 15px;
border-radius: 20px;
border: none;
    background-color: rgb(255 252 252 / 43%);
    box-shadow: 2px 2px 12px -3px black;
}
label{
    margin-left: 8px;
}
h3{
    text-align: center;
    margin: 5px 0px 20px 0px;
    font-size: 25px;
    border-bottom: 1px solid  #808086a8;
    padding-bottom: 16px;
}
h3:hover{
    cursor: pointer;
}
.Btn{
    width: 280px;
    margin-top: 20px;
    padding: 9px;
border-radius: 20px;
border: transparent;
color: white;
font-size: 15px;
background-color: rgb(28, 93, 186);
box-shadow: 2px 2px 15px -3px black;
}
.Btn:hover{
    cursor: pointer;
background-color: rgb(32, 105, 207);

}
.inputs:focus{
background-color: rgb(232,240,254);
color: black;

outline: none;

}
.para{
     text-align: center;
    font-size: 14px;
    margin-top: 15px;
    display: block;
    color:#ccc8c8;
}
#signup-content>p>a{
    color:rgb(32,129,248);

    text-decoration: none;
}
#signup-content>p>a:hover{
    text-decoration: underline;

}
#login-content>p>a{
    color:rgb(32,129,248);

    text-decoration: none;

}
#login-content>p>a:hover{
    
    text-decoration: underline;


}


.errorTxt{
    margin-bottom: 5px;
    transform: translateY(-3px);
    text-align: center;
    display: none;
    color: #ff3535;
}
#signup-content{
transition: 2s ease;
}
#login-content{
transition: 2s ease;

}

